/* CSS original */
/* Cores para banners gratuitos e pagos */
.banner-gratuito .ev-banner-date {
    background-color: #44996c; /* Cor verde */
    font-size: 24px;
}

.banner-gratuito .ev-banner-time {
    background-color: #5fb085; /* Cor verde */
    font-size: 20px;
}

.banner-pago .ev-banner-date {
    background-color: #BE7229; /* Nova cor para o banner da data de evento pago */
    font-size: 24px;
}

.banner-pago .ev-banner-time {
    background-color: #AE5907; /* Nova cor para o banner do horário de evento pago */
    font-size: 20px;
}

/* Estilos para o calendário */
.event-day {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 3.2; /* Ajuste a altura para centralizar o texto verticalmente */
    text-align: center;
    font-weight: normal;
    color: black;

}

.content-wrapper {
    max-width: 1140px;
    margin: 0 auto; /* Centraliza o conteúdo */
    padding-left: 15px;
    padding-right: 15px; /* Adiciona um pequeno padding para evitar que o conteúdo encoste nas bordas */
}

/* Marcação da legenda do evento pago */
.ev-legend-item .color-box-paid {
    background-color: #BE7229; /* Nova cor para a caixa de cor na legenda do evento pago */
}

th {
    font-family: Raleway;
    font-weight: 400;
    font-size: 12px;
    color: #696969;
    margin-bottom: -200px;
}

#calendar-body {
    font-family: Raleway;
    color: #696969;
    font-weight: normal;
    font-size: 18px;
}

/* Estilos para o calendário e a legenda na terceira coluna */
.ev-third-column {
    flex: 1; /* Permite que a nova coluna ocupe o espaço necessário */
    display: flex;
    flex-direction: column;
    margin-left: 20px; /* Espaço entre as colunas */
    max-width: 365px; /* Largura máxima da coluna */
}

.ev-legend {
    background-color: #fff;
    padding: 15px;
    margin-top: -10px; /* Espaço entre o calendário e a legenda */
    width: 100%; /* Mesma largura do calendário */
    font-family: Raleway;
    font-weight: normal;
}

/* Estilos para a tabela do calendário */
#calendar-table {
    width: 100%;
    height: auto; /* Permite que a altura do calendário seja flexível */
    border-collapse: collapse;
}

/* Estilos para garantir que as colunas estejam alinhadas verticalmente */
.container {
    display: flex;
    align-items: flex-start; /* Garante que as colunas estejam alinhadas no topo */
}

/* Ajustando a legenda para crescer conforme o número de itens */
.ev-legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.no-events-message {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    max-width: 500px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.no-events-message p {
    font-size: 18px;
    color: #333;
}

/* Alinhamento do título e botões na mesma linha, alinhados à esquerda */
.ev-title-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 19%;
    margin-bottom: -10%;

}

#ev-page-title {
    font-family: "Nocturno Display Bold";
    font-size: 32px;
    width: 20%;
    font-family:"Nocturno Display Bold";
    text-transform: capitalize;
    font-weight: 900;

}

/* Estilo dos botões circulares */
.circular-btn {
    width: 25.12px;
    height: 25.12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid;
    background-color: #fff;
    font-size: 18px;
    cursor: pointer;
    font-family: "Nocturno Display Bold";
}

/* Agrupando os botões com três espaços de distância do ano */
.ev-btn-group {
    display: flex;
    gap: 5px;
    margin-left: 0.6em; /* Três espaços correspondem a 0.6em */
}

/* Adicionando um efeito de hover aos botões */
.circular-btn:hover {
    background-color: #f0f0f0;
}

/* Ajustando o título para não colidir com os botões */
.ev-title-container h2 {
    margin: 0;
    padding: 0;
}

.color-box {
    width: 20px; /* Largura fixa */
    height: 20px; /* Altura fixa, igual à largura para garantir que seja um quadrado */
    margin-right: 10px;
    flex-shrink: 0; /* Impede que o quadrado diminua de tamanho caso o título da legenda seja longo */
}

/* Estilos para o slider */
.ev-slider-container {
    position: relative;
}

.ev-slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border: 0.5px;
}

#next-events, #prev-events {
    border: 1px solid;
    font-family: "Nocturno Display Bold";
    width: 32px;
    height: 32px
}

.ev-slider-control {
    background: rgb(255, 255, 255);
    color: #0a0a0a;
    border: 1px;
    width: 40px; /* Largura do botão */
    height: 40px; /* Altura do botão */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%; /* Bordas redondas */
    margin: 0 10px;
}

.ev-legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ev-legend-item .color-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}



#calendar {
    width: 100%;
    max-width: 372px;
    max-height: 500px;
    margin: 0 auto;
    border: 0px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    font-family: "Nocturno Display Bold", Sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#calendar-navigation {
    right: 10px;
    display: flex;
    align-items: center;
}

#calendar-navigation span {
    cursor: pointer;
    font-size: 1.2em;
    user-select: none;
    width: 30px;
    height: 30px;
    line-height: 1.8;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #ddd;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #333;
    font-weight: bold;
}

#calendar-navigation span:hover {
    background-color: #f0f0f0;
}

#calendar-navigation span#prev-month {
    background-color: #fff;
    border-color: #0a0a0a;
    color: #333;
    border: 0.5px solid;
    width: 25.12px;
    height: 25.12px;
}

#calendar-navigation span#next-month {
    background-color: #ffffff;
    border-color: #0a0a0a;
    color: #333;
    border: 0.5px solid;
    width: 25.12px;
    height: 25.12px;
}

.ev-calendar {
    border: 0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: -4px 0 6px -2px rgba(0,0,0,.2),4px 0 6px -2px rgba(0,0,0,.2),0 4px 6px -2px rgba(0,0,0,.2);
    height: auto;
    width: 342px;
    margin-top:auto;
}


#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    font-size: 16px;
    /*max-width: 297.49px; !* Alterado de width para max-width *!*/
    height: auto; /* Deixe a altura ser definida automaticamente */
    width: 304px;


    box-sizing: border-box;
    overflow: hidden; /* Evita cortes de conteúdo */
}

.ev-month-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Nocturno Display Bold";
    font-size: 32px;
    text-transform: uppercase;

}


tr {

    width: 303.77px;
    height: 18.84px;

}

#calendar-month-year {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    /*margin-left: -10px;*/
}

#prev-month, #next-month {
    cursor: pointer;
    font-size: 1.2em;
    user-select: none;
    width: 25.12px;
    height: 25.12px;
}

#calendar-table {
    width: 304px;
    height: 275px;
    border-collapse: collapse;
}

#calendar-table th, #calendar-table td {
    width: 14.28%;
    height: 30px;
    text-align: center;
    border: 0px solid #ddd;
}

#calendar-table th {
    background-color: #ffffff;
    font-weight: bold;
}

.www.oi.com.bragination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.ev-pagination a {
    margin: 0 10px;
    padding: 10px;
    background-color: #004085;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.ev-pagination a.disabled {
    background-color: #ccc;
    pointer-events: none;
}

.ev-pagination a i {
    font-size: 20px;
}

.ev-btn-eventos {
    background-color: #fcf6e8;
    color: #000;
    border: 0.5px solid;
    border-color: #0A246A;
    font-size: 12px;
    padding: 5px 16px 3px 16px;
    display: block; /* Adicionado para garantir que o botão seja tratado como um bloco */
    width: fit-content; /* Ajusta a largura ao conteúdo */
    margin: 0 auto; /* Centraliza o botão horizontalmente */
}

body, html {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Isso ajuda a evitar qualquer rolagem horizontal indesejada */
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: row; /* Adiciona a exibição em linha para o container principal */
}

.ev-last-events {
    flex: 2; /* Permite que a seção de eventos ocupe o máximo de espaço disponível */
    align-items: center;
}

#ev-last-events {
    font-family: "Nocturno Display Bold";
    font-size: 32px;
    margin-bottom: 38px;
}

.ev-custom-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.ev-grid-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 339.25px;
    height: 405px;
}

.ev-custom-img {
    width: 370px;
    height: 170px;
    object-fit: cover; /* Nova propriedade para redimensionar a imagem */
    position: relative;
}

.ev-img-wrapper {
    width: 100%;
    height: auto;
    position: relative;
}

.ev-item {
    width: 339px;
    /*height: 420px;*/
}

.ev-banner {
    position: absolute;
    bottom: 0; /* Posiciona o banner no final da imagem */
    left: 0;
    width: 100px;
    height: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/* Garantir que os elementos dentro do banner estejam centralizados */
.ev-banner-date,
.ev-banner-time {
    width: 100%; /* Ajusta a largura para 100% do contêiner */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding: 5px 0; /* Ajustar conforme necessário */
}

.ev-banner-date {
    font-size: 24px;
    color: white;
    padding: 10px 15px;
    font-family: "Nocturno Display Bold";
    font-weight: bold;
    height: 60%;
}

.ev-banner-time {
    font-size: 20px;
    color: white;
    padding: 5px 15px;
    font-family: "Nocturno Display Bold";
    font-weight: bold;
    height: 40%;
}

.ev-horizontal-line {
    position: absolute;
    top: 95.5%;
    left: 100px;
    width: 100%;
    height: 8px;
    background-color: #BE7229;
    z-index: 1;
}

.ev-events-body {
    padding: 15px;

}

.ev-title {
    font-size: 18px;
    margin: 0 0 10px;
    color: #333;
}

.ev-btn-primary-grt, .ev-btn-outline-secondary, .ev-btn-primary, .ev-btn-eventos {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.ev-btn-outline-secondary {
    background-color: #fcf6e8;
    color: #333;
    border: 1px solid #ddd;
    padding: 2px 16px 2px 16px;
    font-family: Raleway;
    font-weight: normal;
    width: 116px;
    height: 29px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.ev-btn-outline-secondary:hover {
    background-color: #ddd;
}

.ev-btn-primary {
    background-color: #004085;
    color: white;
    border: none;
    font-size: 14px;
    padding: 5px 8px 3px 8px;
    margin-left: 20px;
    font-family: Raleway;
    font-weight: normal;
    width: 165px;
    height: 29px;
    text-align: center;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.ev-btn-primary-grt {
    background-color: #5fb085;
    color: white;
    border: none;
    font-size: 14px;
    padding: 5px 40px 3px 40px;
    margin-left: 20px;
    font-family: Raleway;
    font-weight: normal;
    width: 165px;
    height: 29px;
    text-align: center;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.ev-btn-primary:hover {
    background-color: #003366;
}

.ev-banner-title {
    text-transform: uppercase;
    font-size: 24px;
    font-family: "Nocturno Display Bold";
    line-height: 1.1;
    /*width: 250px; !* Ajuste a largura conforme necessário *!*/
    /*overflow: hidden;*/
    /*!*white-space: nowrap;*!*/
    /*text-overflow: ellipsis;*/
}

.ev-content {
    font-size: 16px;
    margin: 0 0 10px;
    color: #000;
    font-weight: normal;
    font-family: Raleway;
    line-height: 1.5;
}

.ev-todos-os-eventos {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ev-btn-eventos {
    background-color: #ECECEC;
    color: #000;
    border: 0.5px solid;
    border-color: #0A246A;
    font-size: 14px;
    padding: 5px 16px 3px 16px;
    display: block; /* Adicionado para garantir que o botão seja tratado como um bloco */
    width: fit-content; /* Ajusta a largura ao conteúdo */
    margin: 0 auto; /* Centraliza o botão horizontalmente */
    width: 222px;
    height: 29px;
    font-family: Raleway;
    font-weight: normal;
    text-align: center;
}

/* CSS original permanece o mesmo */

/* Media Queries */
/* Tablets e dispositivos móveis em geral */
/* Tablets e dispositivos móveis em geral */
@media (max-width: 1024px) and (min-width: 768px) {
    #calendar {
        width: 100%; /* O calendário ocupa toda a largura disponível */
        margin: 0 auto; /* Centraliza o calendário */
        font-size: 14px; /* Reduz o tamanho da fonte */
        padding-left: 10px; /* Padding para evitar cortes */
        padding-right: 10px; /* Padding para evitar cortes */
    }

    .container {
        flex-direction: column; /* Colunas empilhadas */
        align-items: center; /* Centraliza os itens */
    }
}

@media (max-width: 1024px) {
    .ev-title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 0;
        width: 100%;
        text-align: justify; /* Alinhamento justificado */
    }

    #ev-page-title {
        font-size: 32px;
        flex: 1;
        min-width: 200px;
        text-align: left;
        margin-bottom: 10px;
        margin-left: 5%; /* Aplicação em percentual */
    }

    .ev-btn-group {
        justify-content: flex-start; /* Botões próximos ao título */
        margin-left: 0;
        margin-right: 22.5%; /* Aplicação em percentual */
    }

    .ev-custom-grid {
        grid-template-columns: 1fr; /* Coluna única para tablets */
    }

    .ev-grid-item {
        width: 100%; /* Largura total */
        height: auto; /* Altura automática */
    }

    .ev-custom-img {
        width: 100%; /* Largura total */
        height: 200px; /* Ajuste da altura */
    }

    #calendar {
        width: 100%; /* O calendário ocupa toda a largura disponível */
        margin: 0 auto; /* Centraliza o calendário */
        font-size: 14px; /* Reduz o tamanho da fonte */
        padding-left: 8px; /* Padding para evitar cortes */
        padding-right: 8px; /* Padding para evitar cortes */
    }
}

/* Dispositivos móveis (smartphones grandes) */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Colunas empilhadas */
        align-items: center; /* Centraliza os itens */
    }

    .ev-title-container {
        justify-content: space-between;
        text-align: justify; /* Alinhamento justificado */
    }

    #ev-page-title {
        text-align: left;
        margin-bottom: 10px;
        margin-left: 5%; /* Aplicação em percentual */
    }

    .ev-btn-group {
        justify-content: flex-start; /* Botões próximos ao título */
        margin-left: 0;
        margin-right: 22.5%; /* Aplicação em percentual */
    }

    .ev-pagination a {
        width: 35px;
        height: 35px;
    }

    .ev-banner-date, .ev-banner-time {
        font-size: 16px; /* Redução da fonte */
        padding: 4px; /* Ajuste do padding */
    }

    #calendar {
        width: 100%; /* O calendário ocupa toda a largura disponível */
        margin: 0 auto; /* Centraliza o calendário */
        font-size: 12px; /* Reduz o tamanho da fonte */
        padding-left: 6px; /* Padding para evitar cortes */
        padding-right: 6px; /* Padding para evitar cortes */
    }
}

/* Smartphones pequenos (abaixo de 500px) */
@media (max-width: 500px) {
    .ev-title-container {
        margin-left: 10px; /* Redução adicional do espaçamento */
        justify-content: space-between;
        text-align: justify; /* Alinhamento justificado */
    }

    #ev-page-title {
        font-size: 20px; /* Reduz o tamanho da fonte em telas muito pequenas */
        text-align: left;
        margin-bottom: 10px;
        margin-left: 5%; /* Aplicação em percentual */
    }

    .ev-btn-group {
        justify-content: flex-start; /* Botões próximos ao título */
        margin-left: 0;
        margin-right: 22.5%; /* Aplicação em percentual */
    }

    .circular-btn {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .ev-pagination a {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .ev-content {
        font-size: 12px; /* Redução da fonte */
    }

    .ev-banner-date, .ev-banner-time {
        font-size: 14px; /* Redução da fonte */
        padding: 2px; /* Redução do padding */
    }

    .ev-grid-item {
        width: 100%; /* Largura total */
        height: auto; /* Altura automática */
    }

    .ev-custom-img {
        width: 100%; /* Largura total */
        height: 150px; /* Ajuste da altura */
    }

    /* Ajuste dos botões para largura fixa de 200px */
    .ev-btn-primary, .ev-btn-primary-grt, .ev-btn-outline-secondary, .ev-btn-eventos {
        width: 200px; /* Largura dos botões */
        height: 29px; /* Altura dos botões */
        padding: 5px 8px 3px 8px;
        font-size: 14px;
        margin: 10px auto; /* Centraliza os botões */
        text-align: center; /* Centraliza a label do botão */
        display: block; /* Garante que o botão seja tratado como um bloco */
    }

    #calendar {
        width: 100%; /* O calendário ocupa toda a largura disponível */
        margin: 0 auto; /* Centralizar o calendário */
        font-size: 10px; /* Reduz o tamanho da fonte */
        padding-left: 6px; /* Padding para evitar cortes */
        padding-right: 6px; /* Padding para evitar cortes */
    }
}

/* Dispositivos com largura de tela 400px ou inferior */
@media (max-width: 400px) {
    #calendar {
        width: 100%; /* O calendário ocupa toda a largura disponível */
        margin: 0 auto; /* Centralizar o calendário */
        font-size: 10px; /* Reduz o tamanho da fonte */
        padding-left: 5px; /* Padding de 5px nas margens esquerda e direita */
        padding-right: 5px; /* Padding de 5px nas margens esquerda e direita */
    }

    #ev-page-title {
        font-size: 18px; /* Reduz o tamanho da fonte em telas ainda menores */
        text-align: left;
        margin-bottom: 10px;
        margin-left: 5%; /* Aplicação em percentual */
    }

    .ev-btn-group {
        justify-content: flex-start; /* Botões próximos ao título */
        margin-left: 0;
        margin-right: 22.5%; /* Aplicação em percentual */
    }

    .circular-btn {
        width: 20px;
        height: 20px;
        font-size: 12px; /* Reduz o tamanho da fonte nos botões de navegação */
    }

    .ev-btn-primary, .ev-btn-primary-grt, .ev-btn-outline-secondary, .ev-btn-eventos {
        width: 200px; /* Largura dos botões */
        height: 29px; /* Altura dos botões */
        padding: 5px 8px 3px 8px;
        font-size: 12px; /* Reduz o tamanho da fonte */
        margin: 10px auto; /* Centraliza os botões */
        text-align: center; /* Centraliza a label do botão */
        display: block; /* Garante que o botão seja tratado como um bloco */
    }
}